* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  background-color: #3367d6;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.logo-container {
  width: 200px;
  padding-right: 500px;
  padding-left: 50px;
  padding-top: 5px;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.search {
  width: 400px;
  height: 40px;
  border: 2px solid #6697ff;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #2850a7;
  outline: none;
  padding-left: 10px;
  color: #ffffff;
  font-family: 'Roboto';
}

.logo {
  border: 2px solid #6697ff;
  border-right: 0px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #2850a7;
  height: 40px;
  width: 40px;
}

.bottom-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.list-container {
  padding: 20px;
  list-style-type: none;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 15px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.time {
  color: #475569;
  font-weight: bold;
  font-family: 'Roboto';
  width: 150px;
}

.title-img {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.title {
  color: #475569;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 15px;
  text-align: start;
  padding-left: 10px;
  align-self: flex-start;
}

.url {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  text-align: start;
  padding-left: 10px;
}

.button {
  background-color: transparent;
  border-width: 0px;
}

.icon {
  color: #64748b;
}
